<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <h1> je suis base.html.twig </h1>

         {{ render(controller('App\\Controller\\DefaultController::listdonnee')) }}

<table>

        {% block javascripts %}{% endblock %}
    </body>
</html>
